<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Selamat datang ke aplikasi {{ ProjectName }}</h1>
    <div style="background-color: rgb(0, 44, 141); width: 20%; border-radius: 5px; padding: 5px 20px; color: white; font-weight: bold; box-shadow: 10px 10px 10px rgb(118, 118, 118); margin-left: 20px;">
        <p>Developer aplikasi</p>
        <p>Nama: {{ name }}</p>
        <p>NPM: {{ npm }} </p>
        <p>Kelas: {{class}} </p>
    </div>
</body>

</html>